<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application>
        <provider
            android:name=".E2ePackageUpdaterCliProvider"
            android:authorities="${applicationId}.cli"
            android:exported="true"
            android:grantUriPermissions="false"
            android:permission="android.permission.DUMP" />
        <service
            android:name=".E2ePackageUpdateService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
