<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.mesmerprism.rustymanifold.broker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="horizonos.permission.HEADSET_CAMERA" />
    <uses-permission android:name="horizonos.permission.SPATIAL_CAMERA" />

    <application
        android:allowBackup="false"
        android:label="Rusty Manifold Broker"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".BrokerStartActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
